<div class='error-container'>
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <a href='/' class='back-home'>Back to Home</a>
  {{#if error}}
    <pre class='error-details'>{{error}}</pre>
  {{/if}}
</div>