<div class="form-container">
  <h1>Portinos Email Sender Tool</h1>
  
  <form action='/' method='POST'>
    {{> form-group 
      label="Email Address"
      type="email"
      id="email"
      name="email"
      required=true
    }}
    
    {{> form-group 
      label="Subject"
      type="text"
      id="subject"
      name="subject"
      required=true
    }}
    
    <div class="form-group">
      <label for="HTML">HTML</label>
      <textarea 
        name="HTML" 
        id="HTML" 
        required
      ></textarea>
    </div>
    
    <button type='submit'>Send Email</button>
    {{> form-error error=error}}
    
    {{#if success}}
      <p class='success'>{{success}}</p>
    {{/if}}
  </form>
</div>
