<div class="form-container">
  <h1>✉️ Portinos Mailing Tool</h1>
  
  <form action='/login' method='POST'>
    {{> form-group
      label="Email"
      type="email"
      id="email"
      name="email"
      required=true
    }}
    
    {{> form-group
      label="Password"
      type="password"
      id="password"
      name="password"
      required=true
    }}
    
    <button type='submit'>Login</button>
    {{> form-error error=error}}
  </form>
</div>